
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/


# Dependencies
node_modules/

# Playwright
test-results/
playwright-report/
blob-report/

# Environment files
.env
.env.*

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
